doctype html
html(lang='en', ng-app='employees')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
		title Employee
		link(rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css')
		link(rel='stylesheet' href='/stylesheets/style.css')
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js')
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-resource.min.js')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
		script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js')
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js')
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-route.js')
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-cookies.js')
		script(src='http://www.google.com/jsapi?ext.js')
		script(src='/socket.io/socket.io.js')
		script(src='/javascripts/app.js')
		script(src='/javascripts/controllers.js')
		script(src='/javascripts/angular-google-chart.js')
		script(src='/home/home.controller.js')
		script(src='/profilecreation/profilecreation.controller.js')
		script(src='/register/register.controller.js')
		script(src='/login/login.controller.js')
		script(src='/viewemployeedetail/employeedetail.controller.js')
		script(src='app-services/authentication.service.js')
		script(src='app-services/flash.service.js')
		script(src='app-services/user.service.js')
		script(src='app-services/employee.service.js')
		script(src='app-services/socket.services.js')
	body()
		nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
			div.navbar-header
				a.navbar-brand(href='#/employee') Employees
		div.container
			div(ng-view)
