doctype html
html(lang='en', ng-app='employees')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
		title IKEA Social
		link(rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css')
		link(rel='stylesheet' href='/stylesheets/style.css')
		link(rel='stylesheet' href='/stylesheets/loginpage.css')
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js')
		script(src='//secure.skypeassets.com/i/scom/js/skype-uri.js')
		script(src='//fonts.googleapis.com/css?family=Fredoka%20One')
		script(src='//embed.tawk.to/594b6815e9c6d324a4736b98/default')
		script(src='//www.google-analytics.com/analytics.js')
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-resource.min.js')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
		script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js')
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js')
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-route.js')
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-cookies.js')
		script(src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-594cb3b08109a8d8')
		script(src='//st.chatango.com/js/gz/emb.js')
		script(src='//google.com/jsapi?ext.js')
		script(src='//gostats.com/js/counter.js')
		script(src='//monster.gostats.com/bin/count/a_493350/t_4/i_19/z_0/show_hits/counter.png')
		script(src='/socket.io/socket.io.js')
		script(src='/javascripts/app.js')
		script(src='/javascripts/controllers.js')
		script(src='/javascripts/powr.js')
		script(src='/javascripts/angular-google-chart.js')
		script(src='/home/home.controller.js')
		script(src='/profilecreation/profilecreation.controller.js')
		script(src='/updateprofile/updateprofile.controller.js')
		script(src='/employeelist/employeeList.controller.js')
		script(src='/register/register.controller.js')
		script(src='/login/login.controller.js')
		script(src='/logout/logout.controller.js')
		script(src='/viewemployeedetail/employeedetail.controller.js')
		script(src='app-services/authentication.service.js')
		script(src='app-services/flash.service.js')
		script(src='app-services/user.service.js')
		script(src='app-services/employee.service.js')
		script(src='app-services/socket.services.js')
		script(src='//gostats.com/js/counter.js')
		script(src='//monster.gostats.com/bin/count/a_493350/t_4/i_19/z_0/show_hits/counter.png') 
	body()
		nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
			div.navbar-header
				a.navbar-brand(href='') Ikea Social
				a.navbar-brand(href='#/employee', ng-show='$root.globals.currentUser') Search
				a.navbar-brand(href='#/update', ng-show='$root.globals.currentUser') Update Your Profile
				a.navbar-brand(href='#/feedback', ng-show='$root.globals.currentUser') Feedback
				a.navbar-brand(href='#/survey', ng-show='$root.globals.currentUser') Survey
				a.navbar-brand(href='#/aboutus', ng-show='$root.globals.currentUser') About Us
				a.navbar-brand(href='#/logout', ng-show='$root.globals.currentUser') Logout
				
		div.container
			div(ng-view)
