body {
        background-image: url("background-design-1.jpg");
        color:  #080804;
    }
      #search_form{
    background: #c2e3f2; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, #7CC2F8 , #ffffff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right,#7CC2F8, #ffffff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #7CC2F8, #ffffff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #7CC2F8, #ffffff); /* Standard syntax (must be last) */
width: 75%;
margin-left: 10em;
border: none;
    }