
    body {
        background-image: url("background-design-1.jpg");
        color:  #080804;
        font-family: Trebuchet MS;
    }
    .well{
        background-color: #7CC2F8;
        border: none;
    }
    /* Edit button css;*/
    .sphere_edit{
        height: 80px;
        width: 80px;
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
        font-size: 100%;
        position: relative;
        box-shadow: inset -10px -10px 100px #003399, 10px 10px 20px #003399, inset 0px 0px 10px #003399;
        display: inline-block;
        margin: -7em 5% 5%;
        float: right;
    }
    .sphere_edit::after {
        background-color: rgba(255, 255, 255, 0.3);
        content: '';
        height: 45%;
        width: 12%;
        position: absolute;
        top: 4%;
        left: 15%;
        border-radius: 50%;
        transform: rotate(40deg);
}
  #edit{
      color: yellow;
      font-family: 'Trebuchet MS';
      font-weight: bold;
      font-size: 1.5em;
      margin-top: -5em;
  }
  .edit_blue{
     background-color: #003399;
  }
/* Grow */
    .hvr-grow {
            display: inline-block;
            vertical-align: middle;
            transform: translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            backface-visibility: hidden;
            -moz-osx-font-smoothing: grayscale;
            transition-duration: 0.3s;
            transition-property: transform;
    }
    #aboutme{
        font-family: Trebuchet MS;
        font-size: 1.2em;
        margin-left: 1em;
        margin-top: 1em;
        font-weight: bold;
        text-transform: uppercase;
    }
    #socialMedia{
        font-family: Trebuchet MS;
        font-size: 1.2em;
        font-weight: bold;
        margin-left: -10em;
        margin-top: -1em;
        text-transform: uppercase;
    }

    .hvr-grow:hover,
    .hvr-grow:focus,
    .hvr-grow:active {
            transform: scale(1.1);
    }
    #name_display{
    float: left;
     font-size: 2.5em;
    height: auto;
    margin-left: 4.7em;
    }
    .circle {
    background: transparent none repeat scroll 0 0;
    border: 2px solid #000;
    border-radius: 50%;
    color: #fff;
    height: 13em;
    margin-top: -7.5em;
    text-align: center;
    width: 210px;
     }
     .horizontal_dotted_line{
         border:none;
        border-top:4px dotted #000;
        color:#fff;
        margin-top: 2em;
        height:1px;
        width:100%;
     } 
     #update{
        float: right;
        margin-top: -10em;
     }
     #role{
        float: left;
        font-size: 1.7em;
        margin-left: 10.2em;
        margin-top: -3em;
       }
     #ibmerfor{
        color: #cccccc;
        font-family: Trebuchet MS;
        font-size: 1.2em;
        margin-left: 14em;
        margin-top: 4em;
        padding-top: 2em;
     }
   .circleforyears {
        background: transparent none repeat scroll 0 0;
        border: 2px solid #000;
        border-radius: 50%;
        color: #fff;
        height: 13em;
        margin-top: -9.5em;
        text-align: center;
        width: 210px;
     }
     #ibmer{

     }
     #birthdate{
        font-family: Trebuchet MS;
        font-size: 4em;
        color: #000;
     }
     #birthday{
         font-family: Trebuchet MS;
         color: #000;
        margin-left: 44em;
        margin-top: -13em;
     }
     #anniversary{
         font-family: Trebuchet MS;
         color: #000;
         float: right;
        margin-top: -13em;
        margin-right: 1em;
     }
     #anniversaryDate{
        font-family: Trebuchet MS;
        font-size: 4em;
        color: #000;
     }
     #years{
        margin-bottom: -4em;
        margin-top: -4em;
     }
     #yearsinibm{
        color: #cccccc;
        font-family: Trebuchet MS;
        font-size: 1.7em;
        margin-left: 0.2em;
     }
     #basic-info{
            margin-bottom: -1.3em;
            margin-top: -1em;
     }
     #twitter{

     }
     #socialMediaLinks{
        margin-bottom: -3.5em;
        margin-left: 13em;
        margin-top: 3em;
     }
     #twitterimage{
        margin-left: 14em;
        margin-top: -7.5em;
        width: 9%;
     }
     #fbimage{
       width: 9%;
     }
     #linkedinimage{
        margin-left: 38em;
        margin-top: -13.5em;
        width: 8%;
     }
     #instagramimage{
        margin-top: -10.5em;
        margin-left: 26em;
        width: 8%;
     }
     #inikea{
        color:navy;
        font-family: Trebuchet MS;
        font-size: 1.2em;
        margin-left: 12em;
        margin-top: 4em;
        padding-top: 2.4em;
    }         
     #yearsinikea{
         font-family: Trebuchet MS;
        font-size: 2em;
        margin-left: 0em;
        color:navy;
     }
     .sphere {
        height: 160px;
        width: 160px;
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
        font-size: 500%;
        position: relative;
        box-shadow: inset -10px -10px 100px #000, 10px 10px 20px black, inset 0px 0px 10px yellow;
        display: inline-block;
        margin: 5%;
    }
.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}
.sphere::after {
    background-color: rgba(255, 255, 255, 0.3);
    content: '';
    height: 45%;
    width: 12%;
    position: absolute;
    top: 4%;
    left: 15%;
    border-radius: 50%;
    transform: rotate(40deg);
}
     #team{
        font-family: Trebuchet MS;
        font-size: 2em;
        margin-left: 0.5em;
     }
     #teamtitle{
        font-family: Trebuchet MS;
        font-size: 1em;
        margin-left: 1em;
     }
     #location{
        font-family:  Trebuchet MS;
        float:right;
        font-size: 1em;
        font-weight: bold;
     }
     #place{
        font-family:  Trebuchet MS;
        font-size: 2em;
        margin-left: 11.4em;
     }
    #facebooklink{
        font-family: Trebuchet MS;
        font-size: 2em;
        margin-left: 1em;
        margin-top: 1em;
        font-weight: bold;
        text-transform: uppercase;
    }
    #contact_form{
        background: #c2e3f2; /* For browsers that do not support gradients */    
        background: -webkit-linear-gradient(left, #7CC2F8 , #ffffff); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(right,#7CC2F8, #ffffff); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(right, #7CC2F8, #ffffff); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to right, #7CC2F8, #ffffff); /* Standard syntax (must be last) */
    }
    #submit-button{
         background-color: #115890;
         border-color: #115890;
         margin-left: 37em; 
         margin-top: 7em;
    }
    #head-title{
        color: #000000;
    }
    .margin-1{
        margin-left:1em;
    }
    .photos{
        margin-top: 3em;
        float: right;
        margin-right: 27em !important;
    }
    .birthday{
        margin-left:1.5em;
    }
    .yearsinibm{
        margin-left:1em;
    }
    .yearsikeadiv{
        margin-right:2em;
        margin-left:-1em;
    }
    .anniversary{
        margin-right:2em;
        margin-left:-1.2em;
    }
