<! DOCTYPE html>
<html>

<head>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-101496588-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script type="text/javascript" src="https://secure.skypeassets.com/i/scom/js/skype-uri.js"></script>
    <div id="SkypeButton_Call_ikeasocialapp_1">
        <script type="text/javascript">
            Skype.ui({
                "name": "dropdown",
                "element": "SkypeButton_Call_ikeasocialapp_1",
                "participants": ["ikeasocialapp"],
                "imageSize": 32
            });
        </script>
    </div>
    </script>

    <title>Login to Ikea Social</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="all">
    
    <link rel="stylesheet" href="stylesheets/loginpage.css">
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-594cb3b08109a8d8"></script>


</head>

<body>

    Welcome to IKEA Social. A medium which provides to know our fellow IBM and IKEA co-workers and interact with them. So why wait. Let's Get started to Know Each Other.
        <!-- GoStats Simple HTML Based Code -->
            <a target="_blank" id="webcount" title="web monitoring" href="http://gostats.com"><img alt="web monitoring" src="http://monster.gostats.com/bin/count/a_493350/t_4/i_19/z_0/show_hits/counter.png" style="border-width:0" /></a>
        <!-- End GoStats Simple HTML Based Code --> 

<div id="websiteIntro"></div>
    <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash"
        ng-bind="flash.message">
    </div>

    <iframe style="border:none" src="http://files.photosnack.com/iframejs/embed.html?hash=pdksv8slt&t=1498735392" width="800" height="400" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" ></iframe>
    <section class="container">
       
            <!--By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at https://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at https://www.accuweather.com/en/privacy.-->
        </a>
      <div class="widget_margin">
            <div id="widgetBangalore" class="aw-widget-current" data-locationkey="204108" data-unit="c" data-language="en-us"
                data-useip="false" data-uid="awcc1498134347898"></div>
            <!-- weather widget start --><a target="_blank" href="http://www.booked.net/weather/bangalore-18033"><img src="https://w.bookcdn.com/weather/picture/3_18033_1_1_137AE9_250_ffffff_333333_08488D_1_ffffff_333333_0_6.png?scode=124&domid=w209&anc_id=22253"  alt="booked.net"/></a><!-- weather widget end -->
            
                <!--By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at https://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at https://www.accuweather.com/en/privacy.-->
            </a>
            <div id="widgetHelsingborg" class="aw-widget-current" data-locationkey="314777" data-unit="c" data-language="en-us"
                data-useip="false" data-uid="awcc1498134378953"></div>

                <!-- weather widget start --><a target="_blank" href="http://www.booked.net/weather/kolkata-26871"><img src="https://w.bookcdn.com/weather/picture/3_26871_1_1_137AE9_250_ffffff_333333_08488D_1_ffffff_333333_0_6.png?scode=124&domid=w209&anc_id=3843"  alt="booked.net"/></a><!-- weather widget end -->
                <!-- weather widget start --><a target="_blank" href="http://www.booked.net/weather/chennai-18036"><img src="https://w.bookcdn.com/weather/picture/3_18036_1_1_137AE9_250_ffffff_333333_08488D_1_ffffff_333333_0_6.png?scode=124&domid=w209&anc_id=3843"  alt="booked.net"/></a><!-- weather widget end -->

            <!-- weather widget start --><a target="_blank" href="http://www.booked.net/weather/helsingborg-2944"><img src="https://w.bookcdn.com/weather/picture/3_2944_1_1_137AE9_250_ffffff_333333_08488D_1_ffffff_333333_0_6.png?scode=124&domid=w209&anc_id=22253"  alt="booked.net"/></a><!-- weather widget end -->

      </div>
    </section>
    </div>
    <div class="login">
            <h2> Login</h2>
            <form name="form" ng-submit="vm.login()" role="form">
                <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && (form.username.$error.required  || form.username.$error.pattern)}">
                    <label for="username">Email</label>
                    <input type="username" name="username" id="username" class="form-control" ng-model="vm.username" ng-pattern="/^[A-Za-z0-9._%+-]+@in.ibm.com$/"
                        required />
                    <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
                    <span ng-show="form.username.$dirty && form.username.$error.pattern" class="help-block">Email id in the format employeeId@in.ibm.com</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control" ng-model="vm.password" required />
                    <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                </div>
                <div class="form-actions">
                    <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Login</button>
                    <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                    <a href="#/register" class="btn btn-link">Register</a>
                </div>
            </form>
        </div>

    <div id="developedBy">
        <p>Developed by: IKEA Social Solutioning Team</p>
        <p>Contact information: <a href="mailto:subhadeep.bose@in.ibm.com;prmrinal@in.ibm.com;jaswatha@in.ibm.com;agngupta@in.ibm.com;sumit.karna@in.ibm.com?subject=Hear Me Out&body=Hi,
        Good Job with the site. However, I am concerned with the below points:">Ikea Social App</a>.</p>
        <a href="callto://+918095506583">Call Us!</a> &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="skype:ikeasocialapp?call">Call My Skype!</a>&nbsp;&nbsp;&nbsp;
        <a href="skype:ikeasocialapp?chat">Start chat</a></br>
        </br>
    </div>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
            var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
            (function () {
                var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
                s1.async = true;
                s1.src = 'https://embed.tawk.to/594b6815e9c6d324a4736b98/default';
                s1.charset = 'UTF-8';
                s1.setAttribute('crossorigin', '*');
                s0.parentNode.insertBefore(s1, s0);
            })();
    </script>
    <!-- GoStats JavaScript Based Code -->
    <script type="text/javascript" src="http://gostats.com/js/counter.js"></script>
    <script type="text/javascript">_gos='monster.gostats.com';_goa=493350;
    _got=4;_goi=19;_goz=0;_god='hits';_gol='web monitoring';_GoStatsRun();</script>
    <noscript><a target="_blank" title="web monitoring" 
    href="http://gostats.com"><img alt="web monitoring" 
    src="http://monster.gostats.com/bin/count/a_493350/t_4/i_19/z_0/show_hits/counter.png" 
    style="border-width:0" /></a></noscript>
<!-- End GoStats JavaScript Based Code -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-594cb3b08109a8d8"></script>
     <!--End of Tawk.to Script-->

</body>

</html>