<! DOCTYPE html>
<html>
    <head>
        <title>View Profile</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="all">
		<link rel="stylesheet" href="stylesheets/viewprofile.css">	
    </head>
    <body>
        <div>		
					<form class="well form-horizontal" role="form" ng-controller="ViewPageCntrl" id="contact_form">
                        <fieldset>
                            <div class="circle"></div>
                        	<legend><b><span id="name_display"> Name </span></b></legend>
                            <div id="role"> <b> Role of the employee</b></div>
                            <div class="horizontal_dotted_line"></div>
                            <div id="ibmerfor"> <b> An IBMer for</b></div>
                            <div id="yearsinibm"><b>5</b>years</div>
                            <div id="inikea"> <b> In IKEA for</b></div>
                            <div id="yearsinikea"><b>5</b>years</div>
                            <div id="location"> <b> Location</b></div>
                            <div id="place"><b>Bangalore,India</b></div>

                        </fieldset>
            		</form>
        </div>
    </body>
</html>